removeHandler cgi-script .cgi .pl .py .rb
AddType application/force-download .py


IndexIgnore .. __* *.html *.txt


HeaderName  ./autoindex_head.html
ReadmeName  ./autoindex_end.txt
IndexOptions SuppressHTMLPreamble

#IndexOptions FancyIndexing HTMLTable
IndexOptions FancyIndexing

IndexOptions NameWidth=*

